[submodule "MIDI.js"]
	path = MIDI.js
	url = https://github.com/mudcube/MIDI.js.git
[submodule "tuna"]
	path = tuna
	url = https://github.com/Theodeus/tuna.git
[submodule "jasmid"]
	path = jasmid
	url = https://github.com/gasman/jasmid.git
[submodule "Flocking"]
	path = Flocking
	url = https://github.com/colinbdclark/Flocking.git
[submodule "midi-js-soundfonts"]
	path = midi-js-soundfonts
	url = https://github.com/gleitz/midi-js-soundfonts.git
[submodule "timer-stopwatch-1"]
	path = timer-stopwatch-1
	url = https://github.com/paulkass/timer-stopwatch-1.git
[submodule "three.js"]
	path = three.js
	url = https://github.com/mrdoob/three.js.git
[submodule "bootstrap"]
	path = bootstrap
	url = https://github.com/twbs/bootstrap.git
